:root {
  margin: 0rem;
  text-align: center;
  margin-right: 0;
  margin-left: 0;
}

body {
  background-image: url(./images/full-bloom.png);
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-top: 2rem;
}

h2 {
  margin-top: 1rem;
}

.jumbotron {
  text-shadow: -2px 2px lightgray;
  padding: 2rem;
  background-image: url(./images/full-bloom.png);
}

.jumbotron > h1 {
  font-size: 3rem;
  text-decoration: underline;
}

.container {
  border: rgba(0, 0, 0, 0.2) 3px double;
  border-radius: 15px;
  padding-bottom: 2rem;
}

.tableHeader {
  margin: auto;
  justify-content: center;
  width: 90%;
  font-size: 1.3rem;
  font-weight: 500;
  border-bottom: 1px solid lightgray;
}

.row {
  padding: .5rem 0 .5rem 0;
  justify-content: center;
}

#issacCounter > h5{
  margin-top: 1rem;
}

.issacPics {
  display: flex;
  justify-content: center;
  margin: 0 10%;
  flex-wrap: wrap;
}

.issacPics > img {
  margin-top: 1rem;
  width: 9vw;
  max-width: 80%;
}

#stackOverflow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#stackOveflow > img {
  width: 10%;
}

#russianNames {
  padding: 0;
}

#maryusRecording {
  padding: 0;
}